include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
  
    .wrapper
        .maincontent
            .welcome-section
                .section.parallax
                    .parallax__layer(data-speed="0.2")
                        +image('content/parallax/parallax_1.png', 'parallax__image', alt="parallax_1")
                    .parallax__layer(data-speed="0.15")
                        +image('content/parallax/parallax_2.png', 'parallax__image', alt="parallax_2")
                    .parallax__layer(data-speed="0.6")
                        +image('content/parallax/parallax_3.png', 'parallax__image', alt="parallax_3")
                    .parallax__layer(data-speed="0.4")
                        +image('content/parallax/parallax_7.png', 'parallax__image', alt="parallax_4")
                    .parallax__layer(data-speed="0.25")
                        +image('content/parallax/parallax_5.png', 'parallax__image', alt="parallax_5")
                    .parallax__layer(data-speed="0.2")
                        +image('content/parallax/parallax_6.png', 'parallax__image', alt="parallax_6")
                    .parallax__layer(data-speed="0.1")
                        +image('content/parallax/parallax_4.png', 'parallax__image', alt="parallax_7")

                .section.hero 
                    .container.hero__container
                        header.header
                            .logo ОМ
                            .header__menu
                                nav.nav
                                    ul.nav__list
                                        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                                        each item in menu
                                            li.nav__item
                                                a(href="").nav__link #{item}
                            ul.socials
                                    - var socials = ['insta', 'vk', 'github'];
                                    each item in socials
                                        li.socials__item
                                            a(href="").socials__link
                                                +icon(`${item}`, 'socials__icon')

                            .mobile-menu
                                .mobile-menu_line
                                .mobile-menu_line
                                .mobile-menu_line

                        .top__content
                            .user-info
                                .user-info__desk Личный сайт<br> веб разработчика
                                .user-info__name Ольга<br> Маркевич
                    
                        .scroll-btn-wr
                            .scroll-btn Скролл
                                +icon('scroll', 'link-class scroll-icon')
                
                section.about
                    .container.about-container
                        .about__left
                            .user-date
                                .about-img-wr
                                    +image('content/user.jpg', 'about-img', alt="user")
                                    
                                table.user__data-table
                                    - 
                                        var data = [
                                            ['Проживаю:', 'Минск'],
                                            ['Возраст:', '25 лет'],
                                            ['Родилась:', '9 января 1994 г.'],
                                        ]
                                    each row in data
                                        tr.user__data-row
                                            td.user__data-cell #{row[0]}
                                            td.user__data-cell #{row[1]}
                        .about__right
                            .about__welcome Привет, меня зовут
                            .about__name Ольга Маркевич
                            .about__desc 
                                p Я занимаюсь разработкой современных сайтов и приложений. <br>Мне нравится делать интересные и современные проекты.
                            .about__ps  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!             
                 
                .triangles
                    svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
                        polygon(
                            points="0,0 0,100 1000,100"
                        )
                    svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
                        polygon(
                        points="0,100 1000,100 1000,0"
                    )


            section.skills
                .container
                    .skills-container
                        .skills-img-container
                        .skills-info
                            .section-title Чем я могу для вас полезной
                            p.text-w Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                            #skills-component
                            
            
            section.portfolio
                .container
                    .section-title Мои работы
                    #slider-component
                                            
            .bottom-section
                .triangles
                    svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
                        polygon(
                            points="0,0 1000,0 1000,100"
                        )
                    svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
                        polygon(
                        points="0,100 0,0 1000,0"
                    )

                .parallax-bottom
                    .parallax__layer2(data-speed="0")
                        +image('content/parallax/parallax_2-1.png', 'parallax__image', alt="parallax_1")
                    .parallax__layer2(data-speed="0.1")
                        +image('content/parallax/parallax_2-2.png', 'parallax__image', alt="parallax_2")
                    .parallax__layer2(data-speed="0.4")
                        +image('content/parallax/parallax_2-3.png', 'parallax__image', alt="parallax_3")
                    .parallax__layer2(data-speed="0.3")
                        +image('content/parallax/parallax_2-5.png', 'parallax__image', alt="parallax_5")
                    .parallax__layer2(data-speed="0.2")
                        +image('content/parallax/parallax_2-4.png', 'parallax__image', alt="parallax_4")
                    .parallax__layer2(data-speed="0.1")
                        +image('content/parallax/parallax_2-6.png', 'parallax__image', alt="parallax_6")

                section.reviews
                    #reviews-component
                            

                                

                section.feedback
                    .container
                        .section-title Связаться со мной
                        form.wi-form
                            .flex-row
                                .flex-col
                                    .wi-line
                                        label.form-label Введите ваше имя
                                        .line-wr
                                            +icon('user', 'line-icon')
                                            input.form-input(placeholder="Ковальчук Дмитрий")
                                .flex-col
                                    .wi-line
                                        label.form-label Введите ваш email
                                        .line-wr
                                            +icon('envelope', 'line-icon')
                                            input.form-input(placeholder="loftschool@study.com")
                            .wi-line
                                    .wi-line
                                            label.form-label Сообщение к письму
                                            .line-wr
                                                +icon('message', 'line-icon')
                                                textarea.form-textarea(placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                            button.wi-btn Отправить
                        
                        
                        
                       
            footer.footer
                .container.flex-wr
                    .footer__left
                        .footer-copi © 2019
                        .footer-user 
                            .footer-user-name Ольга<br> Маркевич
                            .footer-user-desk Личный сайт<br> веб-разработчика
                    .footer__right
                        nav.nav.nav--color-white
                            ul.nav__list
                                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                                    each item in menu
                                        li.nav__item
                                            a(href="").nav__link #{item}

                        .footer-info-wr
                            .footer-col
                                article.footer-text 
                                    .p.footer-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                                ul.socials.socials-border
                                    - var socials = ['insta', 'vk', 'github'];
                                    each item in socials
                                        li.socials__item
                                            a(href="").socials__link
                                                +icon(`${item}`, 'socials__icon')


                            .footer-col
                                article.footer-text
                                    p.footer-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                                    p.footer-aut Martin Golding
              
    svg
        defs
            lineargradient#dm-gradient
                stop(offset='0%', stop-color='#5500f2')
                stop(offset='50%', stop-color='#5500f2')
                stop(offset='100%', stop-color='#9100ed')

    include ./templates/entry.pug
                                        
                            